.header{
  background-color: black;
  text-align: center;
  height: 9vh;
  color: white;
  padding-top: 1%;
}

#left-side{
  background-color: whitesmoke;
  box-shadow: 2px 2px 2px 2px gray;
  min-height: 600px;
  padding-left: 35px;
  padding-top: 25px;
  margin-top: 40px;
  
}
#right-side{
  border: 2px solid black;
  min-width: 600px;
}
#card{
  border: 2px solid black;
  background-color: whitesmoke;
  box-shadow:2px 2px 2px 2px gray ;
  border-radius: 15px;
  margin-left: 25px;
  margin-bottom: 25px;
  padding-top: 10px;
  padding-left: 25px;
  
}

#card:hover{
  background-color: burlywood;
}






     